* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 100vh 100vw;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.container {
    display: flex;
    background-color: white;
    margin-top: 25vh;
    align-self: center;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 30%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container p {
    margin: 8px;
    font-size: 20px;
}

h1{
    background-color: lightblue;
    width: 100%;
    text-align: center;
}