* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: 100vh 100vw;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-1{
    display: flex;
    margin-top: 20vh;
    background-color: white;
    align-self: center;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 30%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.container-1 p {
    margin: 4px;
    font-size: 18px;
}

.container-1 h1 {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.container-1 h2{
    margin-top: 15px;
}

.container-1 .desc {
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.img-container img {
    margin-top: 10px;
    border-radius: 100%;
}

.contact {
    color: #434343;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: gray;
}