* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-size: 100vh 100vw;
    background-color: #f0f0f0;
    border: 1px solid black;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
    color: #333;
    font-size: 28px;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
}

.navbar a:hover {
    color: #777;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}

.navbar ul li {
    margin: 0 15px;
}

.container-1{
    display: flex;
    margin-top: 20vh;
    background-color: white;
    align-self: center;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 30%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    min-height: 350px;
    margin-right: 20px; 
    justify-content: center;
}

.container-1:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.container-1 p {
    margin: 4px;
    font-size: 18px;
}

.container-1 h1 {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.container-1 h2{
    margin-top: 15px;
}

.container-1 .desc {
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.container-2 {
    display: flex;
    margin-top: 20vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    min-height: 350px;
}

.container-2:hover{
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.img-container img {
    margin-top: 10px;
    border-radius: 100%;
}

.desc_about-me {
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

.contact {
    background-color: lightblue;
    font-size: 20px;
    margin-top: 200px;
    height: 470px;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

.contact form input,
.contact form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact form button {
    width: 50%;
    padding: 10px;
    background-color: rgb(29, 39, 43);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.contact p a {
    padding: 0 4px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.contact p {
    text-align: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: gray;
}